

*{
   margin: 0;
   padding: 0;
   outline: 0;
   box-sizing: border-box;
}
body{
   font-family: Arial, Helvetica, sans-serif;
   font-size: 14px;
   line-height: 18px;
   color: #333;
   background: #ECE9D8;
}
.template{
   width: 960px;
   margin: 0 auto;
}
.clear{
   overflow: hidden;
}

.header_section{}

.header {
   background: #333333;
   height: 110px;
}

.header_left {
   width: 430px;
   color: #fff;
   float: left;
}
.header_left h2 {
   font-size: 40px;
   line-height: 110px;
   padding-left: 50px;
}

.header_right {
   width: 500px;
   float: right;
   color: #fff;
   padding-top: 55px;
}

.header_right a{
   color: #fff;
   font-size: 18px;
   font-weight: bold;
   text-decoration: none;
}
.header_right a:hover, #active{
   color: #00ADEF;
}

.main_section{
   background: #fff;
}

.slogan_section {
   border-bottom: 2px dotted #ddd;
   margin-left: 50px;
   margin-right: 50px;
   margin-top: 32px;
   padding-bottom: 30px;
}
.slogan_section h2 {
   font-size: 45px;
   line-height: 58px;
   color: #000;
}
.slogan_section h3 {
   color: #a8a8a8;
   font-size: 35px;
   line-height: 35px;
}

.description {
   margin: 28px 50px 50px 50px;
   border-bottom: 2px dotted #a8a8a8;
   font-size: 26px;
   color: #666;
   padding-bottom: 30px;
   line-height: 30px;
}
.description p{
}

.content_section {
   margin-bottom: 20px;
   padding-bottom: 20px;
}
.service {
   background: #00ADEF;
   margin-left: 50px;
   width: 253px;
   float: left;
   padding: 20px;
   box-shadow: 3px 3px 0px 0px #e2e2e2;
   border-radius: 2px;
}
.service h2 {
   color: #fff;
   text-align: center;
   border-bottom: 1px dotted #fff;
   padding-bottom: 15px;
   margin-bottom: 15px;
   font-size: 25px;
}
.service p {
   color: #fff;
   font-size: 16px;
   text-align: center;
   line-height: 22px;
}

.read_more {
   text-align: center;
   background: #5b85c7;
   padding: 10px;
   margin-top: 25px;
   border-radius: 3px;
}
.read_more a {
   color: #ddd;
   text-decoration: none;
   font-size: 16px;
   font-weight: bold;
   text-transform: uppercase;
}
.read_more a:hover{
}

.main_bottom {
   margin: 30px 50px;
   border-top: 2px dotted #333;
   padding-top: 30px;
   padding-bottom: 30px;
   border-bottom: 2px dotted #cccccc;
   margin-bottom: 10px;
}

.client_section {
   width: 399px;
   float: left;
   border-right: 3px dotted #ddd;
   padding-right: 30px;
   margin-right: 30px;
}
.client_section h2 {
   font-size: 25px;
   color: #666;
   line-height: 30px;
}

.testimonial {
   margin-top: 20px;
}

.client_image {
   float: left;
   width: 80px;
   margin-right: 20px;
}
.client_image img {
   width: 80px;
   height: 80px;
}

.client_dec {
   width: 265px;
}
.client_dec p {
   color: #666;
}
.client_dec a {
   text-decoration: none;
   color: #00ADEF;
}

.client_name {
   font-weight: bold;
   margin-top: 10px;
}

.project_section {
   width: 400px;
   float: right;
}
.project_section h2{
      font-size: 25px;
      color: #666;
      line-height: 30px;
}
.project_section h3 {
   color: #999;
   margin-top: 8px;
   margin-bottom: 5px;
}
.project_section img {
   width: 400px;
   height: 175px;
   border-radius: 3px;
   border: 1px solid #ddd;
}
.project_section p {
   font-size: 14px;
   margin-top: 10px;
   margin-bottom: 20px;
}
.project_section a {
   text-decoration: none;
   color: #00ADEF;
   font-size: 16px;
}

.footer_section {
   background: #fff;
}
.footer_section p {
   margin-left: 50px;
   color: #999;
   margin-bottom: 20px;
}
